RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ส่งทุก request ที่ไปที่ index.php พร้อมแปลง query string เป็น path แทน
# ตัวอย่าง: /api/products/5  ->  index.php?__route=products/5
RewriteRule ^(.*)$ index.php?__route=$1 [QSA,L]
